flow_uri.json
{'permissions': {'canRead': True, 'canWrite': True}, 'processGroupFlow': {'id': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'uri': 'https://test-nifi-management0.epsilon.a465-9q4k.cloudera.site:443/test-nifi/cdp-proxy-api/nifi-app/nifi-api/flow/process-groups/9052312d-0187-1000-ffff-ffffb6cd1bee', 'parentGroupId': '8fc1e1aa-0187-1000-ffff-fffffe4d8a03', 'breadcrumb': {'id': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'permissions': {'canRead': True, 'canWrite': True}, 'breadcrumb': {'id': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'name': 'level4_group'}, 'parentBreadcrumb': {'id': '8fc1e1aa-0187-1000-ffff-fffffe4d8a03', 'permissions': {'canRead': True, 'canWrite': True}, 'breadcrumb': {'id': '8fc1e1aa-0187-1000-ffff-fffffe4d8a03', 'name': 'level3_group'}, 'parentBreadcrumb': {'id': '8fc0df69-0187-1000-ffff-ffffd3062a16', 'permissions': {'canRead': True, 'canWrite': True}, 'breadcrumb': {'id': '8fc0df69-0187-1000-ffff-ffffd3062a16', 'name': 'alpha_group'}, 'parentBreadcrumb': {'id': '8b83ff7c-0187-1000-99a2-2d4f791a6ad1', 'permissions': {'canRead': True, 'canWrite': True}, 'breadcrumb': {'id': '8b83ff7c-0187-1000-99a2-2d4f791a6ad1', 'name': 'NiFi Flow'}}}}}, 'flow': {'processGroups': [], 'remoteProcessGroups': [], 'processors': [{'revision': {'version': 0}, 'id': '905326ff-0187-1000-ffff-ffffe604315e', 'uri': 'https://test-nifi-management0.epsilon.a465-9q4k.cloudera.site:443/test-nifi/cdp-proxy-api/nifi-app/nifi-api/processors/905326ff-0187-1000-ffff-ffffe604315e', 'position': {'x': 520.0, 'y': 904.0}, 'permissions': {'canRead': True, 'canWrite': True}, 'bulletins': [], 'component': {'id': '905326ff-0187-1000-ffff-ffffe604315e', 'versionedComponentId': '26dc84a9-224d-35c5-b44f-7f8829225930', 'parentGroupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'position': {'x': 520.0, 'y': 904.0}, 'name': 'PutFile', 'type': 'org.apache.nifi.processors.standard.PutFile', 'bundle': {'group': 'org.apache.nifi', 'artifact': 'nifi-standard-nar', 'version': '1.18.0.2.2.6.0-260'}, 'state': 'STOPPED', 'style': {}, 'relationships': [{'name': 'failure', 'description': 'Files that could not be written to the output directory for some reason are transferred to this relationship', 'autoTerminate': False, 'retry': False}, {'name': 'success', 'description': 'Files that have been successfully written to the output directory are transferred to this relationship', 'autoTerminate': False, 'retry': False}], 'supportsParallelProcessing': True, 'supportsEventDriven': True, 'supportsBatching': True, 'supportsSensitiveDynamicProperties': False, 'persistsState': False, 'restricted': True, 'deprecated': False, 'executionNodeRestricted': False, 'multipleVersionsAvailable': False, 'inputRequirement': 'INPUT_REQUIRED', 'config': {'properties': {'Directory': None, 'Conflict Resolution Strategy': 'fail', 'Create Missing Directories': 'true', 'Maximum File Count': None, 'Last Modified Time': None, 'Permissions': None, 'Owner': None, 'Group': None}, 'descriptors': {'Directory': {'name': 'Directory', 'displayName': 'Directory', 'description': 'The directory to which files should be written. You may use expression language such as /aa/bb/${path}', 'required': True, 'sensitive': False, 'dynamic': False, 'supportsEl': True, 'expressionLanguageScope': 'Variable Registry and FlowFile Attributes', 'dependencies': []}, 'Conflict Resolution Strategy': {'name': 'Conflict Resolution Strategy', 'displayName': 'Conflict Resolution Strategy', 'description': 'Indicates what should happen when a file with the same name already exists in the output directory', 'defaultValue': 'fail', 'allowableValues': [{'allowableValue': {'displayName': 'replace', 'value': 'replace'}, 'canRead': True}, {'allowableValue': {'displayName': 'ignore', 'value': 'ignore'}, 'canRead': True}, {'allowableValue': {'displayName': 'fail', 'value': 'fail'}, 'canRead': True}], 'required': True, 'sensitive': False, 'dynamic': False, 'supportsEl': False, 'expressionLanguageScope': 'Not Supported', 'dependencies': []}, 'Create Missing Directories': {'name': 'Create Missing Directories', 'displayName': 'Create Missing Directories', 'description': 'If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.', 'defaultValue': 'true', 'allowableValues': [{'allowableValue': {'displayName': 'true', 'value': 'true'}, 'canRead': True}, {'allowableValue': {'displayName': 'false', 'value': 'false'}, 'canRead': True}], 'required': True, 'sensitive': False, 'dynamic': False, 'supportsEl': False, 'expressionLanguageScope': 'Not Supported', 'dependencies': []}, 'Maximum File Count': {'name': 'Maximum File Count', 'displayName': 'Maximum File Count', 'description': 'Specifies the maximum number of files that can exist in the output directory', 'required': False, 'sensitive': False, 'dynamic': False, 'supportsEl': False, 'expressionLanguageScope': 'Not Supported', 'dependencies': []}, 'Last Modified Time': {'name': 'Last Modified Time', 'displayName': 'Last Modified Time', 'description': "Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.", 'required': False, 'sensitive': False, 'dynamic': False, 'supportsEl': True, 'expressionLanguageScope': 'Variable Registry and FlowFile Attributes', 'dependencies': []}, 'Permissions': {'name': 'Permissions', 'displayName': 'Permissions', 'description': 'Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.', 'required': False, 'sensitive': False, 'dynamic': False, 'supportsEl': True, 'expressionLanguageScope': 'Variable Registry and FlowFile Attributes', 'dependencies': []}, 'Owner': {'name': 'Owner', 'displayName': 'Owner', 'description': 'Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}. Note on many operating systems Nifi must be running as a super-user to have the permissions to set the file owner.', 'required': False, 'sensitive': False, 'dynamic': False, 'supportsEl': True, 'expressionLanguageScope': 'Variable Registry and FlowFile Attributes', 'dependencies': []}, 'Group': {'name': 'Group', 'displayName': 'Group', 'description': 'Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.', 'required': False, 'sensitive': False, 'dynamic': False, 'supportsEl': True, 'expressionLanguageScope': 'Variable Registry and FlowFile Attributes', 'dependencies': []}}, 'schedulingPeriod': '0 sec', 'schedulingStrategy': 'TIMER_DRIVEN', 'executionNode': 'ALL', 'penaltyDuration': '30 sec', 'yieldDuration': '1 sec', 'bulletinLevel': 'WARN', 'runDurationMillis': 0, 'concurrentlySchedulableTaskCount': 1, 'comments': '', 'lossTolerant': False, 'defaultConcurrentTasks': {'TIMER_DRIVEN': '1', 'EVENT_DRIVEN': '0', 'CRON_DRIVEN': '1'}, 'defaultSchedulingPeriod': {'TIMER_DRIVEN': '0 sec', 'CRON_DRIVEN': '* * * * * ?'}, 'retryCount': 10, 'retriedRelationships': [], 'backoffMechanism': 'PENALIZE_FLOWFILE', 'maxBackoffPeriod': '10 mins'}, 'validationErrors': ["'Relationship success' is invalid because Relationship 'success' is not connected to any component and is not auto-terminated", "'Directory' is invalid because Directory is required", "'Relationship failure' is invalid because Relationship 'failure' is not connected to any component and is not auto-terminated"], 'validationStatus': 'INVALID', 'extensionMissing': False}, 'inputRequirement': 'INPUT_REQUIRED', 'status': {'groupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'id': '905326ff-0187-1000-ffff-ffffe604315e', 'name': 'PutFile', 'runStatus': 'Invalid', 'statsLastRefreshed': '13:30:33 UTC', 'aggregateSnapshot': {'id': '905326ff-0187-1000-ffff-ffffe604315e', 'groupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'name': 'PutFile', 'type': 'PutFile', 'runStatus': 'Invalid', 'executionNode': 'ALL', 'bytesRead': 0, 'bytesWritten': 0, 'read': '0 bytes', 'written': '0 bytes', 'flowFilesIn': 0, 'bytesIn': 0, 'input': '0 (0 bytes)', 'flowFilesOut': 0, 'bytesOut': 0, 'output': '0 (0 bytes)', 'taskCount': 0, 'tasksDurationNanos': 0, 'tasks': '0', 'tasksDuration': '00:00:00.000', 'activeThreadCount': 0, 'terminatedThreadCount': 0}}, 'operatePermissions': {'canRead': True, 'canWrite': True}}, {'revision': {'version': 0}, 'id': '90531686-0187-1000-ffff-ffffa8c6bb35', 'uri': 'https://test-nifi-management0.epsilon.a465-9q4k.cloudera.site:443/test-nifi/cdp-proxy-api/nifi-app/nifi-api/processors/90531686-0187-1000-ffff-ffffa8c6bb35', 'position': {'x': 578.0, 'y': 350.0}, 'permissions': {'canRead': True, 'canWrite': True}, 'bulletins': [], 'component': {'id': '90531686-0187-1000-ffff-ffffa8c6bb35', 'versionedComponentId': '088e4810-a79b-300b-a9a8-77dcdf7867a9', 'parentGroupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'position': {'x': 578.0, 'y': 350.0}, 'name': 'GenerateFlowFile', 'type': 'org.apache.nifi.processors.standard.GenerateFlowFile', 'bundle': {'group': 'org.apache.nifi', 'artifact': 'nifi-standard-nar', 'version': '1.18.0.2.2.6.0-260'}, 'state': 'RUNNING', 'style': {}, 'relationships': [{'name': 'success', 'description': '', 'autoTerminate': False, 'retry': False}], 'supportsParallelProcessing': True, 'supportsEventDriven': False, 'supportsBatching': True, 'supportsSensitiveDynamicProperties': False, 'persistsState': False, 'restricted': False, 'deprecated': False, 'executionNodeRestricted': False, 'multipleVersionsAvailable': False, 'inputRequirement': 'INPUT_FORBIDDEN', 'config': {'properties': {'File Size': '0B', 'Batch Size': '1', 'Data Format': 'Text', 'Unique FlowFiles': 'false', 'generate-ff-custom-text': None, 'character-set': 'UTF-8', 'mime-type': None}, 'descriptors': {'File Size': {'name': 'File Size', 'displayName': 'File Size', 'description': 'The size of the file that will be used', 'defaultValue': '0B', 'required': True, 'sensitive': False, 'dynamic': False, 'supportsEl': False, 'expressionLanguageScope': 'Not Supported', 'dependencies': []}, 'Batch Size': {'name': 'Batch Size', 'displayName': 'Batch Size', 'description': 'The number of FlowFiles to be transferred in each invocation', 'defaultValue': '1', 'required': True, 'sensitive': False, 'dynamic': False, 'supportsEl': False, 'expressionLanguageScope': 'Not Supported', 'dependencies': []}, 'Data Format': {'name': 'Data Format', 'displayName': 'Data Format', 'description': 'Specifies whether the data should be Text or Binary', 'defaultValue': 'Text', 'allowableValues': [{'allowableValue': {'displayName': 'Binary', 'value': 'Binary'}, 'canRead': True}, {'allowableValue': {'displayName': 'Text', 'value': 'Text'}, 'canRead': True}], 'required': True, 'sensitive': False, 'dynamic': False, 'supportsEl': False, 'expressionLanguageScope': 'Not Supported', 'dependencies': []}, 'Unique FlowFiles': {'name': 'Unique FlowFiles', 'displayName': 'Unique FlowFiles', 'description': 'If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput', 'defaultValue': 'false', 'allowableValues': [{'allowableValue': {'displayName': 'true', 'value': 'true'}, 'canRead': True}, {'allowableValue': {'displayName': 'false', 'value': 'false'}, 'canRead': True}], 'required': True, 'sensitive': False, 'dynamic': False, 'supportsEl': False, 'expressionLanguageScope': 'Not Supported', 'dependencies': []}, 'generate-ff-custom-text': {'name': 'generate-ff-custom-text', 'displayName': 'Custom Text', 'description': 'If Data Format is text and if Unique FlowFiles is false, then this custom text will be used as content of the generated FlowFiles and the File Size will be ignored. Finally, if Expression Language is used, evaluation will be performed only once per batch of generated FlowFiles', 'required': False, 'sensitive': False, 'dynamic': False, 'supportsEl': True, 'expressionLanguageScope': 'Variable Registry Only', 'dependencies': []}, 'character-set': {'name': 'character-set', 'displayName': 'Character Set', 'description': 'Specifies the character set to use when writing the bytes of Custom Text to a flow file.', 'defaultValue': 'UTF-8', 'required': True, 'sensitive': False, 'dynamic': False, 'supportsEl': False, 'expressionLanguageScope': 'Not Supported', 'dependencies': []}, 'mime-type': {'name': 'mime-type', 'displayName': 'Mime Type', 'description': 'Specifies the value to set for the "mime.type" attribute.', 'required': False, 'sensitive': False, 'dynamic': False, 'supportsEl': False, 'expressionLanguageScope': 'Not Supported', 'dependencies': []}}, 'schedulingPeriod': '1 min', 'schedulingStrategy': 'TIMER_DRIVEN', 'executionNode': 'ALL', 'penaltyDuration': '30 sec', 'yieldDuration': '1 sec', 'bulletinLevel': 'WARN', 'runDurationMillis': 0, 'concurrentlySchedulableTaskCount': 1, 'comments': '', 'lossTolerant': False, 'defaultConcurrentTasks': {'TIMER_DRIVEN': '1', 'EVENT_DRIVEN': '0', 'CRON_DRIVEN': '1'}, 'defaultSchedulingPeriod': {'TIMER_DRIVEN': '0 sec', 'CRON_DRIVEN': '* * * * * ?'}, 'retryCount': 10, 'retriedRelationships': [], 'backoffMechanism': 'PENALIZE_FLOWFILE', 'maxBackoffPeriod': '10 mins'}, 'validationErrors': [], 'validationStatus': 'VALID', 'extensionMissing': False}, 'inputRequirement': 'INPUT_FORBIDDEN', 'status': {'groupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'id': '90531686-0187-1000-ffff-ffffa8c6bb35', 'name': 'GenerateFlowFile', 'runStatus': 'Running', 'statsLastRefreshed': '13:30:33 UTC', 'aggregateSnapshot': {'id': '90531686-0187-1000-ffff-ffffa8c6bb35', 'groupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'name': 'GenerateFlowFile', 'type': 'GenerateFlowFile', 'runStatus': 'Running', 'executionNode': 'ALL', 'bytesRead': 0, 'bytesWritten': 0, 'read': '0 bytes', 'written': '0 bytes', 'flowFilesIn': 0, 'bytesIn': 0, 'input': '0 (0 bytes)', 'flowFilesOut': 15, 'bytesOut': 0, 'output': '15 (0 bytes)', 'taskCount': 15, 'tasksDurationNanos': 12432438, 'tasks': '15', 'tasksDuration': '00:00:00.012', 'activeThreadCount': 0, 'terminatedThreadCount': 0}}, 'operatePermissions': {'canRead': True, 'canWrite': True}}], 'inputPorts': [], 'outputPorts': [], 'connections': [{'revision': {'version': 0}, 'id': '905340f3-0187-1000-ffff-ffff8a99c393', 'uri': 'https://test-nifi-management0.epsilon.a465-9q4k.cloudera.site:443/test-nifi/cdp-proxy-api/nifi-app/nifi-api/connections/905340f3-0187-1000-ffff-ffff8a99c393', 'permissions': {'canRead': True, 'canWrite': True}, 'bulletins': [], 'component': {'id': '905340f3-0187-1000-ffff-ffff8a99c393', 'versionedComponentId': '67d90433-6503-331a-8363-a0ecabcf0e31', 'parentGroupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'source': {'id': '90531686-0187-1000-ffff-ffffa8c6bb35', 'versionedComponentId': '088e4810-a79b-300b-a9a8-77dcdf7867a9', 'type': 'PROCESSOR', 'groupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'name': 'GenerateFlowFile', 'running': True, 'comments': ''}, 'destination': {'id': '905326ff-0187-1000-ffff-ffffe604315e', 'versionedComponentId': '26dc84a9-224d-35c5-b44f-7f8829225930', 'type': 'PROCESSOR', 'groupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'name': 'PutFile', 'running': False, 'comments': ''}, 'name': '', 'labelIndex': 1, 'zIndex': 0, 'selectedRelationships': ['success'], 'availableRelationships': ['success'], 'backPressureObjectThreshold': 10000, 'backPressureDataSizeThreshold': '1 GB', 'flowFileExpiration': '0 sec', 'prioritizers': [], 'bends': [], 'loadBalanceStrategy': 'DO_NOT_LOAD_BALANCE', 'loadBalancePartitionAttribute': '', 'loadBalanceCompression': 'DO_NOT_COMPRESS', 'loadBalanceStatus': 'LOAD_BALANCE_NOT_CONFIGURED'}, 'status': {'id': '905340f3-0187-1000-ffff-ffff8a99c393', 'groupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'name': 'success', 'statsLastRefreshed': '13:30:33 UTC', 'sourceId': '90531686-0187-1000-ffff-ffffa8c6bb35', 'sourceName': 'GenerateFlowFile', 'destinationId': '905326ff-0187-1000-ffff-ffffe604315e', 'destinationName': 'PutFile', 'aggregateSnapshot': {'id': '905340f3-0187-1000-ffff-ffff8a99c393', 'groupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'name': 'success', 'sourceName': 'GenerateFlowFile', 'destinationName': 'PutFile', 'predictions': {'predictedMillisUntilCountBackpressure': 452202720, 'predictedMillisUntilBytesBackpressure': -1, 'predictionIntervalSeconds': 180, 'predictedCountAtNextInterval': 2467, 'predictedBytesAtNextInterval': -1, 'predictedPercentCount': 25, 'predictedPercentBytes': -1}, 'flowFilesIn': 15, 'bytesIn': 0, 'input': '15 (0 bytes)', 'flowFilesOut': 0, 'bytesOut': 0, 'output': '0 (0 bytes)', 'flowFilesQueued': 7392, 'bytesQueued': 0, 'queued': '7,392 (0 bytes)', 'queuedSize': '0 bytes', 'queuedCount': '7,392', 'percentUseCount': 25, 'percentUseBytes': 0, 'flowFileAvailability': 'FLOWFILE_AVAILABLE'}}, 'bends': [], 'labelIndex': 1, 'zIndex': 0, 'sourceId': '90531686-0187-1000-ffff-ffffa8c6bb35', 'sourceGroupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'sourceType': 'PROCESSOR', 'destinationId': '905326ff-0187-1000-ffff-ffffe604315e', 'destinationGroupId': '9052312d-0187-1000-ffff-ffffb6cd1bee', 'destinationType': 'PROCESSOR'}], 'labels': [], 'funnels': []}, 'lastRefreshed': '13:30:33 UTC'}}
None
